.hidden{
	display: none;
}


body{
	margin: 3% auto;
	width: 50%;	
	display: block;
	text-align: center;
}


.user-information{
	text-align: center;
	padding-bottom: 20px;
}

#display-user-name{
	font-weight: bold;
	font-size: x-large;
}

#user-page{
	
}
	
.input-user-data{
	
}

#input-user-name{
	
}

#btn-input-user-name{
	
	
}
		
#connecting-element{
	
}

#chat-page{
	
}

#message-history{
	text-align: left;
	height: 70vh;
	overflow: hidden;
}


#message-history div{
	background: #C2D2FF;
	border-radius: 24px;
	padding: 7px 14px 1px;
	margin: -2px 0 7px;
}
	
#message-history p{
	background: #F3EEFF;
	padding: 6px 9px;
	border-radius: 11px;
	margin: 7px 0;
}

#message-history div i{
	border: 0px solid black;
	border-radius: 15px;
	padding: 3px 10px;
	background: #FFB4FF;
	margin-right: 2px;
}
#message-history div span{
	font-style: italic;
	color: #717171;
}

.input-message-block{
	
}

#btn-input-message{
	width: 10%;
}

#input-message{
	width: 85%;
}
